{% extends "base.html" %}
{% load static %}

{% block title %}Login{% endblock title %}

{% block extraStyle %}
    <link href="{% static 'css/auth.css' %}" rel="stylesheet">
{% endblock extraStyle %}

{% block content %}
<div class="body_auth">
  <div class="wrapper">
    <form method="POST" action="{% url 'forgot_password' %}">
      {% csrf_token %}
      <h2>Mot de passe oublié</h2>
      {% if errors %}
        <p class="alert alert-danger">Cet email n'existe pas. Veuillez reessayer!</p>
      {% elif sent %}
      <p class="alert alert-succès">Un email de réinitialisation de mot de passe vous a été envoyé.</p>
      {% endif %}
      <div class="input-field">
        <input type="text" name="email" id="email" required>
        <label for="email">Entrez votre email</label>
      </div>
      <button type="submit">Envoyer le mail de récupération</button>
      <div class="register">
        <p>Retourner à la page de <a href="{% url 'login' %}">connexion</a></p>
      </div>
    </form>
  </div>
</div>
{% endblock content %}