{% extends "base.html" %} {% load static %} 
{% block title %}Inscription{%endblock %} {% block extrastyle %}
<link href="{% static 'css/auth.css' %}" rel="stylesheet" />
{% endblock extrastyle %} {% block content %}
<div
  class="body"
  style="background-image: url('{% static 'images/hero-bg.jpg' %}')"
>
  <div class="wrapper">
    <form action="#">
      <h2>Inscription</h2>
      <div class="input-field">
        <input type="text" required />
        <label>Entrez votre email</label>
      </div>
      <div class="input-field">
        <input type="password" required />
        <label>Entrez votre mot de passe</label>
      </div>
      <div class="input-field">
        <input type="password" required />
        <label>Confirmez votre mot de passe</label>
      </div>
      <button type="submit">S'inscrire</button>
      <div class="register">
        <p>
          Avez vous déjà un compte ?
          <a href="{% url 'login' %}">Se connecter</a>
        </p>
      </div>
    </form>
  </div>
</div>
{% endblock %}
