{% extends "base.html" %}
{% load static %}

{% block title %}Changer le mot de passe{% endblock title %}

{% block extraStyle %}
    <link href="{% static 'css/auth.css' %}" rel="stylesheet">
{% endblock extraStyle %}

{% block content %}
<div class="body_auth">
  <div class="wrapper">
    <form action="" method="POST">
      {% csrf_token %}
      <h2>Login</h2>
      {% if errors %}
        <p class="alert alert-danger" role="alert">{{message}}.</p>
      {% elif success %}
        <p class="alert alert-success" role="alert">{{message}}.</p>
      {% endif %}
      <div class="input-field">
        <input type="password" name="password1" id="password1" required>
        <label for="password1">Entrez votre mot de passe</label>
      </div>
      <div class="input-field">
        <input type="password" name="password2" id="password2" required>
        <label for="password2">Confirmez votre mot de passe</label>
      </div>
      <button type="submit">Changer le mot de passe</button>
      <div class="register">
        <p>Retourner à la page de <a href="{% url 'login' %}">connexion</a></p>
      </div>
    </form>
  </div>
</div>
{% endblock content %}